.guitar {
    display: flex;
}
#neck {
    height: 20em;
    width: 70em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url('./media/guitarWood.jpg');
}
.string {
    height: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}